.slider {
	max-width: 60rem;
	border-radius: 1rem;
	padding: 2rem;
	background-color: #25282A;
	display: flex;
	justify-content: center;
	border: 0.8rem solid #161B22;
	margin: 0 auto;
}

.slider__navigation-bar {
	width: 1rem;
	height: 1rem;
	background-color: #71ABFE;
	border: 0.2rem solid transparent;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	transition: all 0.3s ease;
}

.slider__navigation-bar:hover {
	background-color: white;
}

.slider__carousel-slides-slider {
	display: flex;
	transition: all 0.3s ease;
}

.slider__carousel-slides {
	width: 49rem;
	overflow: hidden;
	font-size: 1.5rem;
	color: white;
	margin: 0;
}

.slider__text-slides {
	width: 200rem;
	display: block;
}

input[type="radio"] {
	display: none;
}

.btn {
	text-align: right;
}

.text__slide {
	display: flex;
	width: 200rem;
	transition: all 0.3s ease;
	overflow: hidden;
}

.text__slide p {
	margin: 0;
	margin-top: 1rem;
	width: 50rem;
}
.text {
	display: flex;
	flex-direction: column;
}

/* slider ============================================ */

#slide-1:checked~.slider__carousel-slides-slider {
	transform: translateX(0);
}

#slide-2:checked~.slider__carousel-slides-slider {
	transform: translateX(-100rem);
}

#slide-3:checked~.slider__carousel-slides-slider {
	transform: translateX(-50rem);
}

#slide-4:checked~.slider__carousel-slides-slider {
	transform: translateX(-150rem);
}

/* btn color ============================================ */
#slide-1:checked~.text__slide {
	transform: translateX(0);
}

#slide-2:checked~.text__slide {
	transform: translateX(-100rem);
}

#slide-3:checked~.text__slide {
	transform: translateX(-50rem);
}

#slide-4:checked~.text__slide {
	transform: translateX(-150rem);
}


/* text ============================================ */

#slide-1:checked+.btn-1 {
	background-color: transparent;
	border: 0.2rem solid #71ABFE;
}

#slide-2:checked~.btn-2 {
	background-color: transparent;
	border: 0.2rem solid #71ABFE;
}

#slide-3:checked~.btn-3 {
	background-color: transparent;
	border: 0.2rem solid #71ABFE;
}

#slide-4:checked~.btn-4 {
	background-color: transparent;
	border: 0.2rem solid #71ABFE;
}

#slide-1:checked~.btn-1:hover {
	background-color: transparent;
	border: 0.2rem solid white;
}

#slide-2:checked~.btn-2:hover {
	background-color: transparent;
	border: 0.2rem solid white;
}

#slide-3:checked~.btn-3:hover {
	background-color: transparent;
	border: 0.2rem solid white;
}

#slide-4:checked~.btn-4:hover {
	background-color: transparent;
	border: 0.2rem solid white;
}

/* btn color ============================================ */


@media (max-width:768px) {
	
	.btn{
		order: 1;
		display: flex;
		justify-content: center;
		column-gap: 0.3rem;
	}
	.text__slide {
		order: 2;
	}
}